body{
	background-image: url('game.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;	
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	color: rgb(236, 233, 229);
	background-color: #0c0c0b;
	font-size: xxx-large;
	text-align: center;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 10px;
	width: 80vw;
	height: 25vh;
		
}
.option{	
	padding: 10px;
	width: 18vw;
	height: 10vh;
	font-size: x-large;
	font-weight: bold;
	background-color: rgb(216, 118, 37);
	border-radius: 55%;
}

.option:hover{
	background-color: rgb(28, 148, 196);
}

.evaluate,.next{
	width:40vw;
	height: 8vh;
	padding: 5px;
	font-size: x-large;
	font-weight: bold;
}
.evaluate{
	color: white;
	background-color: #3e880c;
}

.evaluate:hover{
	background-color: rgb(82, 148, 82);
}

.next{
	color: white;
	background-color: #da3024;
}

.next:hover{
	background-color: rgb(202, 101, 87);
}
